@model IEnumerable<FoodStampViewModel>;

@{
    ViewData["Title"] = "List of student's food stamps.";
}


@if (Model.Count() == 0)
{
    <p class="text-center">No food stamps have been bought yet.</p>
}
else
{
    <h2 class="text-center">@ViewBag.Title</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IssueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RenewedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RenewedDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}