@model IEnumerable<MenuViewModel>;
@inject ICateringCompanyService cateringCompanyService;

@{
    ViewBag.Title = "All menus";
}

@if (Model.Count() == 0)
{
    <h2 class="text-center">No menus available</h2>
}

@if (Model.Count() < 5 && User.GetRole() == "CateringCompany")
{
    <div class="text-center">
        <a class="btn btn-primary m-2" role="button" style="margin-right: 0" asp-area="" asp-controller="Menu" asp-action="Add">Create a menu</a>
    </div>
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @{
        DayOfWeek parsedDay;
    }
    @foreach (MenuViewModel m in Model.OrderBy(m => Enum.TryParse(m.DayOfWeek, out parsedDay)))
    {
        <div class="card col-4" style="width: 16.5rem; ">
            <div class="card-body">
                <h3 class="card-title mt-1">@m.DayOfWeek</h3>
                <ol>
                    @foreach (DishViewModel dish in @m.Dishes)
                    {
                        <li>
                            <p class="card-text text-lg-start mt-1"> @dish.Name</p>
                            @if (User.GetRole() == "CateringCompany")
                            {
                                <a asp-controller="Menu" asp-action="RemoveDishFromMenu" asp-route-id="@m.Id @dish.Id" class="btn btn-primary mb-2 w-100 p-1 fw-bold"><span style="font-size:small">Remove</span></a>
                            }
                            <hr />
                        </li>
                    }
                </ol>
            </div>

            @{
                string? id = await cateringCompanyService.GetCateringCompanyIdAsync(User.GetId());
            }
            @if (@m.CateringCompanyId == id!)
            {
                <a asp-controller="Menu" asp-action="AddDishToMenu" asp-route-id="@m.Id" class="btn btn-info mb-2 w-100 p-3 fw-bold">Add dish</a>
                <a asp-controller="Menu" asp-action="Edit" asp-route-id="@m.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
                <a asp-controller="Menu" asp-action="Delete" asp-route-id="@m.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Delete</a>
            }
            else
            {
                @if (User.GetRole() == "Parent" && !m.Dishes.Any())
                {
                    <p class="p-3 mb-2 bg-light text-dark">The menu is not created yet.</p>
                }
                else
                {
                    <a asp-controller="Menu" asp-action="Details" asp-route-id="@m.Id @m.SearchId @m.CateringCompanyId" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Details</a>
                    <form class="input-group-sm" asp-controller="FoodStamp" asp-action="Buy" asp-route-id="@m.Id @m.SearchId @m.CateringCompanyId">
                        <input type="submit" value="Buy food stamp" class="fs-6 btn btn-warning mb-2 w-100 p-3 fw-bold" />
                    </form>
                }
            }
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
