@model ParentFormViewModel;
@{
    ViewBag.Title = "Parent Info";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="Parent" asp-action="AddParent" method="post">
            <div class="mb-3">
                <label asp-for="@Model.FirstName" class="form-label-add-edit">First name</label>
                <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.LastName" class="form-label-add-edit">Last name</label>
                <input asp-for="@Model.LastName" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Address" class="form-label-add-edit">Address</label>
                <input asp-for="@Model.Address" class="form-control" aria-required="false" placeholder="+359888888888" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PhoneNumber" class="form-label-add-edit">Phone</label>
                <input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-danger">Confirm Information</button>
                <a asp-controller="Home" asp-action="Customization" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

